.popup-img__content {
    max-width: 80vw;
    max-height: 80vh;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 540px) {
    .popup-img__content {
        width: calc(100% - 60px);
    }
}